<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Employees</title>
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="text-primary">Employee Directory</h3>
        <a th:href="@{/employees/add}" class="btn btn-success">➕ Add Employee</a>
    </div>

    <div class="card shadow-lg rounded-3">
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="emp : ${employees}">
                    <td th:text="${emp.empId}"></td>
                    <td th:text="${emp.firstName}"></td>
                    <td th:text="${emp.lastName}"></td>
                    <td th:text="${emp.email}"></td>
                    <td class="text-center">
                        <a th:href="@{/employees/update/{id}(id=${emp.empId})}"
                           class="btn btn-sm btn-primary me-2">✏ Update</a>
                        <a th:href="@{/employees/delete/{id}(id=${emp.empId})}"
                           class="btn btn-sm btn-danger"
                           onclick="if (!(confirm('Are You Sure Do You Want Delete This Employee?'))) return false "
                        >🗑 Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
